*{
	
	text-align: center;


}

body{
	background: url("../assets/images/tardis.jpg")
}

#quizbox{
	background-color: blue;
	color: white;
	min-height: 500px;
}

#stbtn{
	position: absolute;
	bottom: 10px;
}

#timerHolder{
	font-size: 50px;
}